{% extends "block/base.html" %}
{% block title %}Acerca de la Academia{% endblock title %}
{% block contenido %}
<header class="padding-top">
    <div class="row padding-top">
        <div class="large-6 large-centered columns text-center">
            <h1>Acerca de La Academia de Ballet Eugenia</h1>
            <p><strong>La Danza Expresión del Espiritu</strong></p>
            <p>de <strong>Maria Eugenia Gamboa</strong> &#8212; Ubicada en <strong>1 Oriente Tehuacán</strong>, Puebla <strong>.</strong></p>
        </div>
    </div>
</header>
<section class="padding-top">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Despertando valores  de responsabilidad y disciplina así como el gusto por la danza y la música en los alumnos.</h3>

            <p>Esta academia fue fundada hace más de 40 años con el fin de brindar a los jóvenes la oportunidad de desarrollar, a través de la danza, el gusto por el arte, y así mismo la practica de valores como la puntualidad, responsabilidad, compañerismo y disciplina entre otros.</p>
            <h2>Misión</h2>
            <p>Dar oportunidad a la juventud de conocer y disfrutar de la danza, y expresar a través de ella sus anhelos y sentimientos.</p>

            <h2>Acerca de Nosotros</h2>
            <p>Academia de Ballet Eugenia, despertando valores de responsabilidad y disciplina así como el gusto por la danza y la música en los alumnos.</p>

            <article class="small-12 large-8 large-centered columns text-center">
                <q>Concéntrate en la actividad que estés realizando en el momento, y entrégale a cada una, sea o no de tu agrado, el 100% de tu capacidad.</q> - <strong><em><a href="/missgennyta">Maria Eugenia Gamboa</a></em></strong>
          </article>
        </div>
    </div>
</section>
{% endblock contenido %}