{% extends "block/base.html" %}

{% block contenido %}

    <header class="padding-top">
      <div class="row padding-top">
        <div class="small-12 centered columns text-center">
          <h1>Academia de Ballet Eugenia</h1>
          <h4>La Danza Expresión del Espiritu</h4>
          <a class="button round" href="#">Acerca de la Academia</a>
        </div>
      </div>
    </header>
<section class="row">
            <article class="small-12 medium-10 medium-centered large-8 large-centered columns Galerias">
                <ul class="example-orbit" data-orbit data-options="animation_speed:500;">
                  <li >
                    <img src="{{STATIC_URL}}/img/academia/academia_Angelita_Grillasca_01_800x533.jpg" alt="Angelita Grillasca Arte" />
                    
                    <div class="orbit-caption show-for-medium-up">
                      BIENVENIDO A LA ACADEMIA DE BALLET EUGENIA
                      <a href="/academia" class="button round">Conocenos</a>
                      
                    </div>
                  </li>
                  <li >
                    <img src="{{STATIC_URL}}/img/academia/academia_Angelita_Grillasca_02_800x533.jpg" alt="Danza" />
                    <div class="orbit-caption show-for-large-up">
                      ARTE Y EXPRESIÓN DEL CUERPO.
                      <a href="/cultura" class="button round">Inspirate</a>
                    </div>
                  </li>
                  <li>
                    <img src="{{STATIC_URL}}/img/academia/academia_Angelita_Grillasca_03_800x533.jpg" alt="Academia de Ballet Eugenia Tehuacan" />
                    <div class="orbit-caption show-for-medium-up">
                      APRENDE NUESTRO LENGUAJE
                      <a href="/diccionario" class="button round">Diccionario</a>
                    </div>
                  </li>
                </ul>
            </article>
</section>
<section>
  <section id="Academia" class="row">
    <div class="small-12 columns">
      <h2>Quienes somos</h2>
      <p>En la Academia de Ballet Eugenia, damos oportunidad a la juventud de conocer y disfrutar de la danza, y expresar a través de ella sus anhelos y sentimientos.</p>
      <p class="text-center"><a href="/academia" class="button round"> Acerca de la Academia</a></p>
    </div>

  </section>
  <section id="Mision" class="row">
    <div class="small-12 columns">
      <h2>Experiencia</h2>
      <p>Esta academia fue fundada hace más de 40 años con el fin de brindar a los jóvenes la oportunidad de desarrollar, a través de la danza, el gusto por el arte, y así mismo la practica de valores como la puntualidad, responsabilidad, compañerismo y disciplina entre otros.</p>
      <p>A travez de los años Maria Eugenia Gamboa llamada por sus alumnos y conocidos <q>Miss Gennita</q> ha llevado a muchas jovencitas y jovenes por el camino del Arte y la Danza.</p>
      <p class="text-center"><a href="/missgennyta" class="button round"> Conoce a Miss Gennita</a></p>
    </div>
  </section>

</section>
{% endblock contenido %}


