{% extends "block/base.html" %}
{% block title %}Login{% endblock title %}
{% block contenido %}
<header class="login padding-top">
      <div class="row padding-top">
        <div class="small-12 large-8 large-centered columns text-center">
          <form action="." method="post">{% csrf_token %}
            <fieldset>
              <legend>Acceso a la Academia de Ballet Eugenia</legend>
              <div class="row">
                <div class="large-10 large-centered columns">
                  <img width="120" src="{{STATIC_URL}}img/logos/logo_academia_eugenia_150x137.png" alt="Área Especial para Alumnas de la Academia de Ballet Eugenia">
                  <h2>Academia de Ballet Eugenia</h2>
                  <p>Esta área es para las alumnas de la Academia de Ballet Eugenia, podrás ver tus Avisos y Crear un Perfil de la Academia de Ballet</p>

                </div>
                <div class="large-12 columns"> 
                  <label class="text-left">Email
                    <input type="email" name="email" placeholder="Pon aquí tu nombre Ej. tuemail@gmail.com" />
                  </label>
                  <label class="text-left">Password de la Academia
                    <input type="password" name="name" placeholder="Password de la Academia" />
                  </label>
                </div>
                <div class="small-6 columns text-center">
                  <button name="envComentario" class="expand round">Entrar</button>
                </div>
                <div class="small-6 columns text-center">
                  <button href="/" class="expand success round">Volver</button>
                </div>
                <p>Si olvidaste tu password o esta incorrecto tu email, ponte en contacto con <a href="/contacto">genny@ballet-eugenia.com</a></p>

              </div>
            </fieldset>

          </form>
        </div>
      </div>
    </header>    
{% endblock contenido %}