{% extends "block/base.html" %}
{% block title %}Miss Gennyta{% endblock title %}
{% block contenido %}
<header class="padding-top">
  <div class="row padding-top">
    <div class="small-12 centered columns text-center">
      <h1>Maria Eugenia Gamboa</h1>
      <p>"Miss Gennyta"</p>
      <p> Directora y Fundadora de Academia de Ballet Eugenia</p>
  </div>
</div>
</header>
<!-- EndHeader-->
<!-- Contenido-->
<section>
  
  <section class="row">
    <article class="small-12 centered columns text-center BioGrafia">
        <img width="320" class="imgRound" src="{{STATIC_URL}}img/missGenita/Miss_Gennyta.jpg" alt="Directora y Fundadora de Academia de Ballet Eugenia Maria Eugenia Gamboa">
        <h3>QUIEN SOY</h3>
        <p>Maestra, actualmente jubilada, de educación primaria y de ballet, actividad que seguiré realizando mientras Dios y la vida me lo permitan.</p>
        <p>Mi nombre es María Eugenia Gamboa González.</p>
        <p>Nací en la ciudad de Mérida Yucatán, a las 5 de la tarde del día 1° de noviembre de 1947, 2ª. Hija del matrimonio formado por Humberto Gamboa Camps y Lodoíska Gonzáles Cárdenas.</p>
        <p>De ellos y de mis abuelos aprendí desde pequeña los valores de la  HONESTIDAD, RESPONSABILIDAD, RESPETO, PUNTUALIDAD Y UN GRAN AMOR A DIOS, A LA FAMILIA Y A MI PATRIA, PERO PRINCIPALMENTE, A MÍ MISMA.  Todo esto reforzado en la escuela HISPANO MEXICANO donde cursé mi educación prescolar, primaria y secundaria; y posteriormente,  en la escuela EDUCACIÓN Y PATRIA donde realicé mis estudios profesionales para maestra de educación primaria.</p>
        <p>He de reconocer también, la gran influencia que en mí ejercieron mis maestras de ballet: Lupita Nuñez  y Socorro Cerón. La primera, y con quien tuve el placer de trabajar por más tiempo, llena de amor y dulzura, la segunda con el ímpetu y la disciplina que esta actividad requiere; y de ambas, el deseo de ser cada día mejor.</p>
        <br />
        <h3>MI GRAN PASIÓN</h3>
        <p>El arte en casi todas sus manifestaciones. No puedo aceptar como algo artístico aquello que cause angustia, dolor asco o vergüenza a otros seres, así sean personas o animales.</p>
        <br />
        <h3>MIS GRANDRES AMORES</h3>
        <ul class="no-bullet">
            <li>Mi Familia</li>
            <li>Mis Amigos</li>
            <li>Mis Alumnos</li>
            <li>DIOS</li>
            <li>Mis Mascotas</li>
        </ul>
        <br />
        <h3>MI ORGULLO</h3>
        <p>Mi Academia</p>
        <br />
        <h3>MI TRISTEZA</h3>
        <p>No lograr vencer mis debilidades</p>
        <br />
        <h3>MIS TEMORES</h3>
        <p>No cumplir cabalmente con la misión para la que fui creada.</p>
        <br />
        <h3>MI ESPERANZA</h3>
        <p>Dejar al final de mis días un buen recuerdo y ejemplo a las personas con las que he tratado.</p>
        <br />
        <h3>MI FILOSOFIA</h3>
        <p>Concéntrate en la actividad que estés realizando en el momento, y entrégale a cada una, sea o no de tu agrado, el 100% de tu capacidad.</p>
    </article>
    <article class="small-12 large-8 large-centered columns text-center">
      <q>Concéntrate en la actividad que estés realizando en el momento, y entrégale a cada una, sea o no de tu agrado, el 100% de tu capacidad.</q> - <strong><em><a href="#">Maria Eugenia Gamboa</a></em></strong>
  </article>
  
</section>

</section>   
{% endblock contenido %}
