Lista de palabras
<br>
{%if filtro%}
Esto es un filtro de palabras por tag {{tag}}
{%else%}
Lista completa de palabras
{%endif%}
<br>
{%if palabras%}
    {%for palabra in palabras%}
        titulo: {{palabra.palabra.titulo}}<br>
        contenido: {{palabra.palabra.contenido}}<br>
        imagen: {{palabra.palabra.imagen}}<br>
        tags: 
        {%for tag in palabra.palabra.tags.all%}
        {{tag}},
        {%endfor%}<br>
        url amigable: {{palabra.url}}<br><br><br>
    {%endfor%}

    {%if palabras.has_previous%}
    pagina anterio:{{palabras.has_previous}}<br>
    {%endif%}
    pagina actual:{{palabras.number}}<br>
    {%if palabras.has_next%}
    pagina siguiente: {{palabras.has_next}}<br>
    {%endif%}
    numero de paginas: {{palabras.paginator.num_pages}}
{%else%}
No se encontraron resultados
{%endif%}