{% extends "block/base.html" %}
{% block contenido %}
<header class="padding-top">
  <div class="row padding-top">
    <div class="small-12 centered columns text-center">
      <h1>Diccionario de Ballet</h1>
      <h4>Movimientos, Giros, Palabras de Ballet y mucho más. </h4>
      {%if filtro%}
      <p>Resultados de la busqueda {{tag}}: <strong>{{NumdePalabras}}</strong></p>
      {%else%}
      <p>Número de Palabras: <strong>{{NumdePalabras}}</strong></p>
      {%endif%}
    </div>
  </div>
</header>
<!-- EndHeader-->
<!-- Contenido-->
<section>
  <aside class="row busqueda">
    <div class="small-12 medium-8 medium-centered columns text-center">
      <form action="/diccionario/tag/"  name="Busqueda">
        <input type="text" name="tagName" placeholder="Busca la palabra o tag" required>
        <button class="tiny">Buscar</button>
      </form>
    </div>
    
  </aside>

  {%if palabras%}
  <section class="row">
    {%for palabra in palabras%}
    <div class="small-12 medium-6 large-4 columns Keyword">
      <a href="/diccionario/{{palabra.url}}/"><img class="th" src="{{MEDIA_URL}}/{{palabra.palabra.imagen}}" alt="{{palabra.palabra.titulo}}"></a>
      <div style="max-height: 218px;overflow: hidden;">
        <h2><a href="/diccionario/{{palabra.url}}/">{{palabra.palabra.titulo}}</a></h2>
        {{palabra.palabra.contenido|safe}}
      </div>
      <p>Tags: {%for tag in palabra.palabra.tags.all%}
        <a href="/diccionario/tag/{{tag}}">{{tag}}</a>,
        {%endfor%}
        <p><a href="/diccionario/{{palabra.url}}/" class="button">Mas detalles de: {{palabra.palabra.titulo}}</a></p>
      </div>
      {%endfor%}
    </section>
    <section class="row">
      <div class="small-6 columns Keyword">
        {%if palabras.has_previous%}
        <h4><a href="/diccionario/?pagina={{palabras.previous_page_number}} "><span class="fi-arrow-left large"></span>Anterior</h4></a>
        {%endif%}
      </div>
      <div class="small-6 columns Keyword text-right">
        {%if palabras.has_next%}
        <h4><a href="/diccionario/?pagina={{palabras.next_page_number}} ">Siguiente<span class="fi-arrow-right large"></span></h4></a>
        {%else%}
        <h4>Siguiente<span class="fi-arrow-right large"></span></h4>
        {%endif%}
      </div>
    </section>
    {%else%}
    {%endif%}
    

  </section> 
{% endblock contenido %}

    