<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diccionario de Ballet</title>
    <!-- SEO and Facebook Atributos-->
    <meta name="description" content="Glosario y Diccionario de Ballet, una compilación para principiantes y avanzados en el tema." />
    <meta name="keywords" content="Movimientos, Ballet, Danza, Diccionario, Glosario, Tehuacan, Cultura" />
    <meta name="author" content="https://plus.google.com/+BalletEugenia" />  
    <link rel="canonical" href="http://ballet-eugenia.com/diccionario" />
    <meta property="fb:app_id" content="504922086287468" />
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="Diccionario de Ballet" />
    <meta property="og:description" content="Glosario y Diccionario de Ballet, una compilación para principiantes y avanzados en el tema." />
    <meta property="og:image" content="/img/fb_img/diccionario_01.jpg" />
    <!-- Fin de SEO y Facebook atributos-->
    <!-- Estilos y preconfigs -->
    <link rel="stylesheet" href="/css/foundation.css" >
    <link rel="stylesheet" href="/css/foundation-icons.css">
    <link rel="stylesheet" href="/css/animate.css" >
    <script src="/js/vendor/modernizr.js"></script>

    <!-- Favicons y Directivas para AppChrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="/img/fb_img/home_01.jpg" />
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#efefef">
    <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
    <!-- End Favicons-->
  </head>
  <body>
    <!-- Fb-SDK -->
    <!-- EndFb-SDK -->
    <!-- NAV -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Contactanos</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="/templates/contacto.html">Contacto</a></li>
          <li class="has-dropdown">
            <a href="#foo">Menu</a>
            <ul class="dropdown">
              <li><a href="/templates/login.html">Login</a></li>
              <li><a href="#nosotros">Blog Cultural</a></li>
              <li><a href="#nosotros">Academia</a></li>
              <li><a href="/templates/missGenita.html">Miss Genita</a></li>
              <li><a href="#nosotros">Calendario</a></li>
              <li><a href="/templates/diccionario.html">Diccionario</a></li>
              
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <!-- EndNAv-->
    <!-- Header-->
    <header>
      <div class="row">
        <div class="small-12 centered columns text-center">
          <h1>Ponte en Contacto</h1>
          <h4>Nuestra dirección 1 Oriente #520 Colonia Centro, Tehuacán,Pue.</h4>
          <p>Telefono: <a href="tel:2382222222">2384094571</a></p>
          <p>Email: genny@ballet-eugenia.com</p>
        </div>
      </div>
    </header>
    <!-- EndHeader-->
    <!-- Contenido-->
    <section>
      
      <section class="row">
        <div class="small-12 centered columns text-center">
          <form action="">
            <fieldset>
              <legend>Academia de Ballet Eugenia</legend>
              <div class="row">
                <div class="large-10 large-centered columns">
                  <img src="/img/login/logo_login.png" alt="Área Especial para Alumnas de la Academia de Ballet Eugenia">
                  <h2>Haznos saber tus dudas</h2>
                </div>
                <div class="large-12 columns">
                <label class="text-left">Nombre
                    <input type="text" name="nombre" placeholder="Pon aquí tu nombre " />
                  </label> 
                  <label class="text-left">Email
                    <input type="email" name="email" placeholder="Ej. tuemail@gmail.com" />
                  </label>
                  <label>Qué deseas comentarnos
                    <select>
                      <option value="suscripcion">Interesado en Suscripcion</option>
                      <option value="duda">Duda</option>
                      <option value="comentario">Comentario</option>
                      <option value="sugerencia">Sugerencia</option>
                      <option value="login">Datos para el Login</option>
                    </select>
                    
                  </label>
                  <label class="text-left">Escribenos
                    <textarea type="text" name="name" placeholder="Aqui pon tu duda, comentario o sugerencia" ></textarea>
                  </label>
                </div>
                <div class="small-6 columns text-center">
                  <button name="envComentario" class="expand ">Entrar</button>
                </div>
                <div class="small-6 columns text-center">
                  <a href="/" name="envComentario" class="button expand success">Volver</a>
                </div>
                <p>Si olvidaste tu password o esta incorrecto tu email, ponte en contacto con <a href="/templates/contacto.html">genny@ballet-eugenia.com</a></p>

              </div>
            </fieldset>
            
          </form>
        </div>
        
      </section>
      
      <section class="row">
        <div class="small-6 columns Keyword">
          #MAPA
        </div>
        <div class="small-6 columns">
          <div class="panel callout radius">
          <p>Encuentranos en  <a href="/GoogleMaps"><i class="fi-marker icon-large"></i>Google Maps</a></p>
        </div>
        </div>

        </section>
    </section>
    <!-- EndContenido-->
    <!-- Footer-->
    <footer>
      <article id="newsletter" class="row">
        <div class="small-centered large-8 columns text-center">
          <div class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Tu email aquí">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Newsletter Cultural</a>
            </div>
          </div>
        </div>
        </div>
        
      </article>
      <article id="foo" class="row">
        <div class="small-12 columns text-center">
          <h3 class="text-center">Contactanos</h3>
            <p>Más información, sugerencias o comentarios haznoslos saber en</p>
            <p>Nuestro email: <a href="mailto:genny@ballet-eugenia.com">genny@ballet-eugenia.com</a></p>
            <p>Estamos en la 1 Oriente #520 Colonia Centro, Tehuacán,Pue.</p>
            <p><button>CONTACTO</button></p>
        </div>
      </article>
      <article id="end" class="row">
        <div class="small-12 columns text-center">
        <h3>Mapa de Sitio</h3>
        
          <a href="#">Academia</a>
          <a href="#">Login</a>
          <a href="#">Cultura</a>  
          <a href="#">Diccionario</a>
          <a href="#">Reglamento</a>                  
          <a href="#">Calendario</a>
          
        </div>
        <div class="small-12 columns text-center ">
          <br />
          <h4>Academia de Ballet Eugenia 2014</h4>
          <q>La Danza Expresión del Espiritu</q>
          <p></p>
        </div>
        
      </article>

      
    </footer>
    <!-- EndFooter-->

    
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/vendor/jquery.cookie.js"></script>
    <script>
      $(document).foundation();
    </script>
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53943904-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    </script>
    <!-- EndAnalytics -->
  </body>
</html>
